/* alltrending.css */
.trending-container{
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;
  font-family: "Poppins", sans-serif;
}

.titlecontainer{
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 5% 0%; 
}

/*icons buttons*/
.fire{
  color: orangered;
}
