/* nav.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo {
  font-family: "Volkhov", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
}

.contents {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.contents div {
  margin-right: 3rem;
}

.menu-icon {
  display: none; /* Initially hide the menu icon */
}

.contents.open {
  display: block;
        div{
          padding: 5% 1%;
        }
}

/* Media query for devices with max width of 768px */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Show the menu icon for smaller screens */
    cursor: pointer;
  }

  .contents {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
    padding-top: 3rem; /* Added top padding */
  }

  /* Close button styling */
  .close-button {
    display: block; /* Show the close button for small devices */
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    cursor: pointer;
  }

  /* Buttons */
  .contents .signup-button button {
    width: 6rem;
    height: 2.2rem;
    background-color: black;
    color: white;
    outline: none;
    border-radius: 0.4rem;
  }
}

/* Hide close button for desktop */
@media (min-width: 769px) {
  .close-button {
    display: none; /* Hide the close button for desktop */
  }
}

.signup-button button {
  width: 6rem;
  height: 2.2rem;
  background-color: black;
  color: white;
  outline: none;
  border-radius: 0.4rem;
}

.linkdec{text-decoration: none;
color: black;}