.mainstyle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;

}

.div1style{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: "Poppins", sans-serif;

    .textst{
        font-size: .8rem;
    }


    img{
        width: 2rem;
        height: 2rem;
        padding-right: 5%;
    }
}

@media (max-width: 768px) {
    .textst {
      font-size: 0.6rem; /* Adjust font size for smaller screens */
    }

}