
.trending-products{
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;

   
    
   
    

    .leftcontents{
      width: 30%;

      .head{
        font-family: "Volkhov", serif;
        font-weight: 300;
        letter-spacing: 0.3rem;
        font-size: 2.2rem;
        color: #484848;
      }
      .pcontent1{
        font-family: "Poppins", sans-serif;
        color: #8A8A8A;

      }
      .pcontent2{
        font-family: "Poppins", sans-serif;
        color: #484848;
        font-size: 1.2rem;
        letter-spacing: 0.3rem;

      }

      .exploreTrending {
        font-family: "Poppins", sans-serif;
        background-color: black;
        color: white;
        border: none;
        border-radius: 6px;
        outline: none;
        width: 11rem;
        height: 3rem;
      }

    }

    .rightcarousal{
      width: 70%;
    }
}





  